LumenApiGateway/vendor
LumenApiGateway/.idea
LumenApiGateway/Homestead.json
LumenApiGateway/Homestead.yaml
LumenApiGateway/.env
LumenApiGateway/.gitignore
LumenApiGateway/.phpunit.result.cache
LumenApiGateway/database/database.sqlite

LumenAuthorsService/vendor
LumenAuthorsService/.idea
LumenAuthorsService/Homestead.json
LumenAuthorsService/Homestead.yaml
LumenAuthorsService/.env
LumenAuthorsService/.gitignore
LumenAuthorsService/.phpunit.result.cache
LumenAuthorsService/database/database.sqlite

LumenBooksService/vendor
LumenBooksService/.idea
LumenBooksService/Homestead.json
LumenBooksService/Homestead.yaml
LumenBooksService/.env
LumenBooksService/.gitignore
LumenBooksService/.phpunit.result.cache
LumenBooksService/database/database.sqlite